

/* ====================== Media Queries ====================== */

@media screen and (max-width:413px) {
    nav h1{
        padding:10px 0;
    }
}

@media screen and (max-width:469px) {

    .filter-options{
        border:0px solid #f00;
        height:100px;
        padding:20px 0;
        margin:0;
    }

    .filter-options h2 {
        width:100px;
        margin:0 10px;        
    }

    .filter-options select {
        display: block;
        width:95%;
    }

    #restaurant-container p, #reviews-container p{
        font-size: 1em;
    }
    
    #restaurant-hours td{
        font-size: 1em;
    }
}


@media screen and (min-width:470px)  {

    .filter-options{
        border:0px solid #f00;
        height:60px;
        padding:20px 0;
        margin:0;
    }
    .filter-options h2 {
        
        margin:0 10px;       
        display: inline-block; 
        width:100px;
    }
    .filter-options select {
        display: inline-block;
        width:calc((90% - 150px)/2);
        max-width:250px;
        min-width:150px;
        margin:0 10px 0 0;
    }
}

@media screen and (max-width:645px) {    
    
    #restaurants-list{
        padding:30px 0;
        width:100%;
        min-width:320px;
    }

    #restaurants-list li{
        width:100%;
        padding: 15px;
    }

    .restaurant-img{
        width:100%;
    }

    /* ====================== Restaurant Details ====================== */

    nav, #breadcrumb {    
        width:100%;
    }

    #breadcrumb {
        padding: 10px 0px 16px;
    }
    #breadcrumb li {
        display: inline;
        font-size: 1.0em;
    }

    #breadcrumb li:first-child { 
        margin-left:20px;
    }

    #restaurant-container p, #reviews-container p{
        font-size: 1.2em;
    }

    #restaurant-hours td{
        font-size: 1.3em;
    }

    .inside #maincontent{
        padding:0;
    }

    .inside #map-container {
        position:unset;
        height:400px;
        width:100%;
        padding:130px 0 0;
        margin:0 auto;
    }

    .inside #restaurant-container, .inside #reviews-container {
        padding: 0 20px;
        min-width:100%;
        box-sizing: border-box;
    }

    .inside #reviews-container {
        padding-top:20px;    
    }

}


@media screen and (min-width:646px) and (max-width:1139px) {

    #restaurants-list{
        padding:30px 0;
        width:100%;    
    }
        
    #restaurants-list li{
        width:45%;
        padding: 15px;
        width: calc((90% - 90px) / 2);
        min-width:250px;
    }
    
    #restaurants-list li:last-of-type {
        margin-right:0;
    }
    #restaurants-list .restaurant-img{
        width:100%;
    
    }
    
    /* ====================== Restaurant Details ====================== */
        
    #breadcrumb {
        padding: 10px 20px 16px;
        width: calc(50% - 40px);
    }
    
    #breadcrumb li {
        display: inline;    
        font-size: 1.1em;
    }
    
    #restaurant-container p, #reviews-container p{
        font-size: 1.3em;
    }
    #restaurant-hours td{
        font-size: 1.1em;
    }
    
    #restaurant-container h1, #reviews-container h2{
        font-size: 1.5em;
    }
    
}


@media screen and (min-width:1140px) {
    #restaurants-list{
        max-width: 1140px; 
        width:100%;
        margin:0 auto;
    }
    
    #restaurants-list li{
        width: 270px;
        padding: 25px 30px 25px;
        margin:15px;
    }
    
    #restaurants-list .restaurant-img{
    
        width:100%;
    }
    
    .filter-options{
        width:100%;
    }
    
    /* ====================== Restaurant Details ====================== */
        
    #breadcrumb {
        padding: 10px 20px 16px;
        width: calc(50% - 40px);
    }

    #breadcrumb li {
        display: inline;    
        font-size: 1.2em;
    }
    
    #restaurant-container p, #reviews-container p{
        font-size: 1.5em;
    }
    
    #restaurant-hours td{
        font-size: 1.4em;
    }
    
    #restaurant-container h1, #reviews-container h2{
        font-size: 1.5em;
    }
}



/* ====================== global style ====================== */

.inside #maincontent, {
    display: flex;
    flex-wrap: wrap;
}

.inside #footer{
    position:relative;
    width:100%;
    padding:25px 0;
}

nav h1{
    padding:20px 0;
}

/* ====================== Restaurant Details ====================== */


#restaurant-container h1, #reviews-container h2{
    font-size: 1.8em;
}

#restaurant-container {
    padding: 140px 20px 30px;    
    width: calc(50% - 40px);
}

#reviews-container {
    padding: 20px 20px 0;    
    width: calc(50% - 40px);
}

#restaurant-name{
    margin:15px auto;
    padding:0;
    width:100%;
}

#restaurant-img, #restaurant-cuisine {
    width:100%;
}
#restaurant-address, #restaurant-hours{
    padding:0 ;
}


#reviews-list li p {
    margin: 0 0 10px;
}
#reviews-list li {
    padding:0;
    width:100%;
}
.reviewHeader{
    background-color: #252831;    
    overflow: auto;
}
#reviews-list li p {
    margin: 0;
    padding:0;
}
#reviews-list li > p {
    padding:20px;
}

.reviewHeader p {
    color:#fff;
    font-size: 1.3em;
    font-weight: 300;
    padding:0;
    margin:0;
    display:inline;
}

.reviewHeader p:nth-child(1) {
    float:left;
}

.reviewHeader p:nth-child(2) {
    float:right;
    margin-right:auto;
}

#reviews-list div {
    padding:15px;
}

#reviews-list div.ratingBox{
    background-color: #f18200;
    color:#fff;
    font-weight:300;
    padding:5px;
    text-transform: uppercase;
    margin: 20px 20px 0;
    display: inline-block;
    
}